:root {
    --md-primary-fg-color: #3375a7;
    --md-primary-fg-color--light: #3375a7;
    --md-primary-fg-color--dark: #3375a7;

    --md-accent-fg-color: #f7a80f;
    --md-accent-fg-color--light: #f7a80f;
    --md-accent-fg-color--dark: #f7a80f;
}